<!DOCTYPE html>
<html>
<head>
<title>origin</title>
<link rel="stylesheet" href="css/normalize.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="css/skeleton.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <div class='six columns offset-by-four container'>
  <div id='content'>
  <h1 id='landingHeader'>Enter the country you would like to query?</h1>
  <form action='/query' method='POST'>
    <input type='text' placeholder='Query Country' name='queryCountry'>
    <input id='submit' type='submit' value='Submit'>
  </form>
    <button id='home'><a href='/'>Home</button>
       </div>
      </div>

</body>
</html>
