<!DOCTYPE html>
<html>
<head>
<title>origin</title>
<link rel="stylesheet" href="css/normalize.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="css/skeleton.css" media="screen" title="no title" charset="utf-8">
<link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <div class='six columns offset-by-four container'>
  <div id='content'>
  <h1 id='landingHeader'>Thank you!</h1>
    <button id='home'><a href='/'>Home</button>
          <!-- <h6>Origin by Rahmona Henry 2016</h6> -->
       </div>
      </div>

</body>
</html>
